#Calculator{
  border: 1px solid rgb(58, 57, 57);
  border-radius: 5px;
  width: 200px;
}

#display{
  margin: 10px;
  width: 80%;
  font-size: 25px;
}

#buttons-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons{
  width: 45px;
  height: 40px;
  margin: 3px;
}